version: '3.8'
services:
    app:
        build:
            context: .
        volumes:
            - .:/app

        environment:
            FLASK_ENV: development

            DB_HOST: db
            DB_USER: user 
            DB_PASS: password
            DB_NAME: mydatabase
        
        command: python app.py 

        ports:
            - "5000:5000"

        depends_on:
            - db

    db:
        image: postgres:15-alpine
        environment:
            POSTGRES_USER: user
            POSTGRES_PASSWORD: password
            POSTGRES_DB: mydatabase
        
        volumes:
            - postgres_data_dev:/var/lib/postgresql/data

volumes:
    postgres_data_dev:

                